{% extends 'authentication/base.html' %}

{% block title %}Sign in{% endblock title %}

      {% block body %}
      
        <section style="background-color:#00aaff";>
            <h1><center>Welcome to Knowledge Platform</center></h1>
            <h4><center> A platform designed by CData to let users input any knowledge they have percieved and help others through the use of that knowledge.</center><h4>
        </section><br>
        <section style="text-align:justify;">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show" roles="alert">
            <strong>Messages:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        <center>
    <h3>Sign In</h3>

    <form action="/signin" method="post">
    {% csrf_token %}

    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
          <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar" style=" width:100px; height :100px;border-radius:50%" >
          <br>
          <br>
        </div>
        <label for="">Employee ID</label> 
        <input type="text" id="username" name="username" placeholder="Enter your employee id" Required>
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
        <br>
        
        
        <button type="submit" style="border-radius:5%">Sign In</button>
    </form>
  </center>
{% comment %} </body>
</html> {% endcomment %}


{% endblock body %}