{% extends 'authentication/base.html' %}

{% block title %}Sign up{% endblock title %}



{% comment %} <html style="background-color:DeepSkyBlue";>
    <head>
        <title>Knowledge Platform</title>
    </head> {% endcomment %}
    {% block body %}
        <section style="background-color:#00aaff";>
            <h1><center>Welcome to Knowledge Platform</center></h1>
            <h4><center> A platform designed by CData to let users input any knowledge they have percieved and help others through the use of that knowledge.</center><h4>
        </section><br><br>
        <section style="text-align:justify;">
    
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show" roles="alert">
            <strong>Messages:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        <center>
        <h2>Sign Up</h2>
        <p>Please fill in the details to create your account.</p>
        <br>
    
        <form action="/signup" method="post">
       {% csrf_token %}
    
    
            <label for="">Username</label> 
            <input type="text" id="username" name="username" placeholder="Create a username" Required>
            <br><br>
            <label for="">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="Enter your first name" Required>
            <br><br>
            <label for="">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Enter your last name" Required>
            <br><br>
            <label for="">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" Required>
            <br><br>
            <label for="">Password</label>
            <input type="password" id="pass1" name="pass1" placeholder="Create your password" Required>
            <br><br>
            
            <button type="submit">Sign Up</button>
        </form>
    </center>
        
        <script src="" async defer></script>
    {% endblock body%}